.alert {
  position: absolute;
  z-index: 10000;

  width: clamp(200, 40%, 100%);
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: white;
  color: #060606;
}

svg {
  transform: rotate(-90deg);
  stroke-dasharray: 50.265; /* (2PI * 40px) */
  stroke-dashoffset: 50.265;
  animation: offsettozero 10s linear forwards;
}

@keyframes offsettozero {
  to {
    stroke-dashoffset: 0;
  }
}
